html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

iframe {
	height: 100%;
	width: 50%;
	border: none;
	pointer-events: none;
}

#left_image{
	float: left;
}

#right_image{
	float: right;
}

.values{
	width: 50%;
	height: 130px;
	background-color: rgba(180,180,180,.5);
	position: absolute;
	bottom: 0px;
	text-align: center;
}

#left_v{
	left: 0px;
}

#right_v{
	right: 0px;
}
