html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

iframe {
	height: 100%;
	width: 50%;
	border: none;
}

#left_image{
	float: left;
}

#right_image{
	float: right;
}

#values{
	width: 200px;
	height: 250px;
	background-color: rgba(180,180,180,.5);
	position: absolute;
}